@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

/* Zerando configurações e definindo fonte de tudo */
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Configurações gerais do visual do form */
body {
  background: linear-gradient(45deg, #8e2de2, #4a00e0);
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilizando o container branco que ficam as informações */
main.container {
  background: white;
  max-width: 350px;
  min-height: 40vh;
  padding: 2rem;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

/* Estilizando o título */
main h2 {
  font-weight: 600;
  margin-bottom: 2rem;
  position: relative;
}

/* Criando linha em baixo do título */
main h2::before {
  content: '';
  position: absolute;
  height: 4px;
  width: 25px;
  bottom: 3px;
  left: 0;
  border-radius: 8px;
  background: linear-gradient(45deg, #8e2de2, #4a00e0);
}

/* Deixando os inputs e button organizados em colunas */
form {
  display: flex;
  flex-direction: column;
}

/* Deixando relative para usar absolute na linha em baixo dos inputs */
.input-field {
  position: relative;
}

/* Dando espaço entre os inputs */
form .input-field:first-child {
  margin-bottom: 1.5rem;
}

/* Fazendo as bordas de cada input */

.input-field .underline::before {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  bottom: -5px;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
}

.input-field .underline::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  bottom: -5px;
  left: 0;
  background: linear-gradient(45deg, #8e2de2, #4a00e0);
  transform: scaleX(0);
  transition: all, 0.3s ease-in-out;
  transform-origin: left;
}

.input-field input:focus ~ .underline::after {
  transform: scaleX(1);
}

/* Tirando a borda em volta padrão quando ta com o focus */
.input-field input {
  outline: none;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.7);
}

/* Definindo cor do placeholder */
.input-field input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

/* Estilizando o botão "Continue"  */
form input[type='submit'] {
  margin-top: 2rem;
  padding: 0.4rem;
  background: linear-gradient(to left, #4776e6, #8e54e9);
  cursor: pointer;
  color: white;
  font-size: 0.9rem;
  font-weight: 300;
  border-radius: 4px;
  transition: all 0.3s ease;
}

form input[type='submit']:hover {
  letter-spacing: 0.5px;
  background: linear-gradient(to right, #4776e6, #8e54e9);
}

/* Ajustes iniciais no footer do form */
.footer {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

/* Estilizando o texto em baixo do botão */
.footer span {
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.8rem;
  text-align: center;
}

/* Ajustes iniciais no bloco de redes sociais */
.footer .social-field {
  padding: 0.4rem;
  border-radius: 4px;
  font-size: 0.85rem;
  width: 100%;
  cursor: pointer;
  margin-top: 1rem;
}

/* Espançamento do ícone da rede social em relação ao texto do lado*/
.footer .social-field a i {
  margin: 0.5rem;
  width: 15px;
}

/* Tirando underline dos textos de rede social */
.footer .social-field a {
  text-decoration: none;
  color: white;
}

/* Estilizando a opção do twitter */
.footer .social-field.twitter {
  background: linear-gradient(to right, #56a7f2, #468aca);
}

/* Estilizando a opção do facebook */
.footer .social-field.facebook {
  background: linear-gradient(to right, #1e3c72, #2a5298);
}
